@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&display=swap');
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    height: 80px;
    background-color: white;
    z-index: 2;
}

.header-img {
    height: 45px;
    
}

.navbar-items {
    display: flex;
    font-family: 'Istok Web', sans-serif;
    font-size: 18px;
    list-style: none;
    color: #2B3684;
}

.navbar-item {
    margin-right: 40px;
}

.navbar-item a {
    text-decoration: none;
    color: #2B3684;
}



.banner-container {
    width: 100%;
    height: 500px;
    background-image: url(images/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-text-box {
    width: 550px;
    height: 300px;
    background-color: rgba(0,0,0,0.90);
    float: right;
    margin-top: 100px;
    margin-right: 50px;

    color: white;
    font-family: 'Rajdhani', sans-serif;
}

.banner-bigger-text {
    font-weight: 500;
    font-size: 45px;
    text-align: center;
    padding: 20px 30px 0 30px;
}

.banner-main-text {
    text-align: center;
    padding: 30px;
    font-size: 17px;
}

.about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: -webkit-linear-gradient(35deg, white  17%, rgba(0,0,0,0) 17%), -webkit-linear-gradient(25deg, rgb(34, 95, 238) 64%, white 28%);
    background: -o-linear-gradient(35deg, white  17%, rgba(0,0,0,0) 17%), -o-linear-gradient(25deg, rgb(34, 95, 238) 64%, white 28%);
    background: -moz-linear-gradient(35deg, white  17%, rgba(0,0,0,0) 17%), -moz-linear-gradient(25deg, rgb(34, 95, 238) 64%, white 28%);
    background: linear-gradient(35deg, white  17%, rgba(0,0,0,0) 17%), linear-gradient(25deg, rgb(34, 95, 238) 64%, white 28%);  
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.services-title-box,
.about-title-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 150px;
}

.about-title-text {
    font-size: 60px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    align-self: flex-end;
    margin-right: 150px;
}

.underline {
    float:right;
    width: 130px;
    margin-left: 5px;
    height: 3px;
    background-color: black;
    border: 1px solid black;
    border-radius: 3px;
}

.about-main-text {
    width: 100%;
    background-color: rgba(0,0,0,0.95);
    margin-top: 50px;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px 120px 10px 120px;
}

.img-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.article-img {
    width: 300px;
    height: 250px;
    margin: 10px;
}

.services-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    background: -webkit-linear-gradient(149deg, white  20%, rgba(0,0,0,0) 20%), -webkit-linear-gradient(143deg, rgb(34, 95, 238) 80%, white 60%);
    background: -o-linear-gradient(149deg, white  20%, rgba(0,0,0,0) 20%), -o-linear-gradient(143deg, rgb(34, 95, 238) 80%, white 60%);
    background: -moz-linear-gradient(149deg, white  20%, rgba(0,0,0,0) 20%), -moz-linear-gradient(143deg, rgb(34, 95, 238) 80%, white 60%);
    background: linear-gradient(149deg, white  20%, rgba(0,0,0,0) 20%), linear-gradient(143deg, rgb(34, 95, 238) 80%, white 60%);  
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.services-title-text {
    font-size: 60px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    align-self: flex-start;
    margin-left: 150px;
}

.services-content-container {
    display: flex;
}

.services-navbar {
    width: 450px;
    height: 500px;
    margin: 20px;
    position: sticky;
    top: 90px;
}

.services-navbar-items {
    list-style: none;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
}

.services-navbar-item {
    display: flex;
    background-color: rgba(0,0,0,0.80);
    margin: 5px 0;
    resize:none;
    overflow:auto; 
}

.navbar-left-color {
    height: auto;
    width: 10px;
    min-width: 10px;
    background-color: #2B3684;
    margin-right: 20px;
}

.services-navbar-item a {
    padding: 10px 10px 10px 20px;
    width: -webkit-fill-available;
}

.services-content {
    width: -webkit-fill-available;
    background-color: rgba(0,0,0,0.80);
    margin: 25px 15px 35px 10px;
    padding: 30px;
    color: white;
    font-family: 'Rajdhani', sans-serif;    
}

.services-navbar-item:hover .navbar-left-color {
    transition: 0.3s;
    background-color: #909CF3;
    min-width: 35px;
}

.active-service {
    background-color: #909CF3;
    min-width: 35px;

}

.services-content-header {
    font-size: 50px;
    text-align: center;
    margin: 20px 0;
}


.services-content-main-text {
    text-align: center;
    font-size: 25px;
}


.footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #2B3684;
    color: white;
    font-family: 'Rajdhani', sans-serif;   
    padding: 20px;
}

.contact {
    text-align: center;
}

.footer-navbar {
    margin-top: 10px;
}

.footer-navbar-items {
    font-family: 'Rajdhani', sans-serif;   
    font-weight: bold;
    font-size: 18px;
    list-style: none;
}

.footer-navbar-item {
    margin-top: 8px;
}

.footer-navbar-item a{
    text-decoration: none;
    color: white;
}

.maps {
    width: 600px;
}

.hidden {
    display: none;
}
